<div class="welcome-div">
    <div class="search-div">
      <div class="search-div-img">
        <div class="search-div-top">
          <div class="title-div">
            <h1 id="title">Free university level Scientific educational materials and ressources</h1>
            <h3 id="sub-title">Over ... videos and documents in Math, Physics, Chemistry, Computer Science</h3>
          </div>
          <div class="search-input-div">
            <form id="search-form" name="search-form">
              <div id="search-icon"><img class="search-icon-img" width="28.25px" src="assets/Img/search-icon-black.svg"></div>
              <input type="search" name="search-input" id="search-input" placeholder="Search videos, documents, projects...">
              <div id="search-option">searchoption</div>
              <div id="seach-button"><button class="search-button-button">Search</button></div>
            </form>
            <div id="popular-searches">Popular searches</div>
          </div>
        </div>
        <div class="search-div-bottom">
          <h1>Browse by content type</h1>
        </div>
      </div>
    </div>
    <div class="section-div">
        <section class="first-section">
          <div class="first-section-div">
            <div class="image-div">
              <img id="first-section-img" src="assets/Img/education.png" width="300px">
            </div>
            <div class="text-div">
              <div>
                <h1>
                  Study Smarter, Quicker,<br> with more efficiency
                </h1>
                <h3>
                  All of your favourite online study materials in one place<br>
                  Have access to many science projects, videos, exams and documents from differents universities around the world and other online ressources
                </h3>
              </div>
            </div>
          </div>
        </section>
    </div>
</div>
