<div class="outer-login-div">
  <div class="login-div">
    <div class="sign-in-title">
      <label id="sign-in-label">Signing In</label>
    </div>
  <div style="display: flex;justify-content: center;">
    <form method="POST" style="width: 80%;">
      <div style="display: block;padding-top: 50px;">
        <div style="width: 100%;display: flex;justify-content: center;padding-top: 12.5px;padding-bottom: 12.5px;">
          <div style="display: flex;margin-left: 5px;margin-right: 5px;padding: 2.5px;border-radius: 2.5px;background-image: radial-gradient( rgb(255, 255, 255), rgba(63, 169, 245, 0.5), rgb(255, 255, 255));">
            <input type="email" id="user-email-input" name="email" placeholder="Email...">
          </div>
        </div>
        <div style="width: 100%;display: flex;justify-content: center;padding-top: 12.5px;padding-bottom: 12.5px;">
          <div style="display: flex;padding: 2.5px;border-radius: 2.5px;background-image: radial-gradient( rgb(255, 255, 255), rgba(63, 169, 245, 0.5), rgb(255, 255, 255));">
            <input type="password" id="user-password-input" name="password" placeholder="Password...">
          </div>
        </div>
      </div>
      <div style="display: flex;padding-top: 15px;padding-bottom: 15px;">
        <div style="position: relative;width: 50%;display: flex;justify-content: center;">
          <div class="center-v">
            <input type="checkbox" id="stay-logged-in" name="stay-logged-in">
          <label class="stay-label" for="stay-logged-in">Stay signed in?</label>
          </div>
        </div>
        <div style="width: 50%;display: flex;justify-content: center;">
          <button type="submit" id="login-button" name="login-button">Login</button>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>
