::placeholder {
  color: rgba(255, 255, 240, 0.8);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.course-overview-div-outer {
  position: fixed;
  top: 0px;
  width: 22.5%;
  height: 100%;
  z-index: 1;
}

.course-overview-div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: block;
  background-color: rgb(63,169,245);
  -webkit-box-shadow: 5px 0px 2.5px -2.5px rgb(30,31,38);
  -moz-box-shadow: 5px 0px 2.55px -2.5px rgb(30,31,38);
  box-shadow: 5px 0px 2.5px -2.5px rgb(30,31,38);
}

.course-overview-div-darkmode {
  background: rgb(10,12,20);
}

.course-overview-div-inner {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: inherit;
  display: inherit;
}

.course-overview-div-inner::-webkit-scrollbar {
  width: 5px;
}

.course-overview-div-inner::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

.course-overview-div-inner::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.course-overview-div-inner::-webkit-scrollbar-thumb:hover {
  background: #009eb3;
}

#returnToTop {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 2px 2px -2px ivory;
  -moz-box-shadow: 0 2px 2px -2px ivory;
  box-shadow: 0 2px 2px -2px ivory;
}

#returnToTop a {
  cursor: pointer;
}

.overview-div {
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.075);
  box-shadow: 0px -1px 2.5px 0.5px rgba(255, 255, 240, 0.75);
  -webkit-box-shadow: 0px -1px 2.5px 0.5px rgba(255, 255, 240, 0.75);
  -moz-box-shadow: 0px -1px 2.5px 0.5px rgba(255, 255, 240, 0.75);
  text-align: center;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.overview-div a {
  font-size: larger;
  font-family: sans-serif;
  color: ivory;
}

.overview-div:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

.overview-div:active{
  background-color: rgba(0, 0, 0, 0.5);
}


.module {
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-box-shadow: 0 2.5px 2px -2px ivory,0 -2.5px 2px -2px ivory;
  -moz-box-shadow: 0 2.5px 2px -2px ivory,0 -2.5px 2px -2px ivory;
  box-shadow: 0 2.5px 2px -2px ivory,0 -2.5px 2px -2px ivory;
  cursor: pointer;
  transition: 250ms all ease-in-out;
  z-index: 2;
}

.module:hover{
  background-color: rgba(255, 255, 255, 0.125);
}

#modulesList > li a {
  display: flex;
  font-family: sans-serif;
  color: ivory;
  text-decoration: none;
}

.plus-icon {
  padding-left: 25px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.module-div {
  padding-top: 12.5px;
}

.materials {
  text-align: center;
}

.materialsList li {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  color: ivory;
  -webkit-box-shadow: 0 2px 2px -2px ivory;
  -moz-box-shadow: 0 2px 2px -2px ivory;
  box-shadow: 0 2px 2px -2px ivory;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.materialsList li:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

.materialsList li:active {
  background-color: rgba(255, 255, 255, 0.175)
}

.course-overview-slider {
  display: none;
  position: fixed;
  width: inherit;
  background: linear-gradient(to right ,rgb(63,169,245), rgba(100, 190, 255, 0.75));
  /*box-shadow: 1.25px 2.5px rgba(100, 190, 255, 0.5);*/
  -webkit-box-shadow: 5px 0px 2.5px -2.5px rgb(30,31,38), -1px 0px 2.5px 0.5px rgba(255, 255, 240, 0.75);
  -moz-box-shadow: 5px 0px 2.55px -2.5px rgb(30,31,38), -1px 0px 2.5px 0.5px rgba(255, 255, 240, 0.75);
  box-shadow: 5px 0px 2.5px -2.5px rgb(30,31,38), -1px 0px 2.5px 0.5px rgba(255, 255, 240, 0.75);
}

.course-overview-slider:hover {
  cursor: pointer;
}

#expand-course-overview-icon {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.course-overview-slider-darkmode {
  background: linear-gradient(to right ,rgb(3,4,8), rgb(10, 12, 20));
  -webkit-box-shadow: 5px 0px 2.5px -2.5px rgb(10,12,20), -1px 0px 2.5px 0.5px rgba(255, 255, 240, 0.75);
  -moz-box-shadow: 5px 0px 2.55px -2.5px rgb(10,12,20), -1px 0px 2.5px 0.5px rgba(255, 255, 240, 0.75);
  box-shadow: 5px 0px 2.5px -2.5px rgb(10,12,20), -1px 0px 2.5px 0.5px rgba(255, 255, 240, 0.75);
}


@media screen and (max-width: 800px) {

  .course-overview-div {
    position: fixed;
    width: 47.5%;
  }

  .course-overview-div-outer {

    width: 50%;
    display: flex;
  }

  .course-overview-slider {
    width: 6.25%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: all 400ms ease-in-out;
  }

}

.display-none {
  display: none;
}

.selected {
  background-color: rgba(255, 255, 255, 0.175);
}

.rotate {
  transform: rotate(180deg);
}
