<div class="outer-signup-div">
  <div class="signup-div">
    <div class="sign-up-title">
      <label id="sign-up-label">Sign Up</label>
    </div>
    <div style="display: flex;justify-content: center;">
      <form method="POST" style="width: 80%;">
      <div style="display: block;padding-top: 50px;">
        <div style="width: 100%;margin: auto;display: flex;justify-content: center;padding-top: 12.5px;padding-bottom: 12.5px;">
          <div style="margin-right: 1.25%;" class="text-input-border">
            <input style="width: 100%;" id="firstname-input" name="firstname" class="text-input" placeholder="First Name...">
          </div>
          <div style="margin-left: 1.25%;" class="text-input-border">
            <input  style="width: 100%;" id="lastname-input" name="lastname" class="text-input" placeholder="Last Name...">
          </div>
        </div>
        <div style="width: 100%;margin: auto;display: flex;justify-content: center;padding-top: 12.5px;padding-bottom: 12.5px;">
          <div class="text-input-border">
            <input type="email" id="email-input" name="email" class="text-input" placeholder="Email...">
          </div>
        </div>
          <div style="width: 100%;margin: auto;display: flex;justify-content: center;padding-top: 12.5px;padding-bottom: 12.5px;">
              <div class="text-input-border">
                  <input type="password" id="password-input" name="password" class="text-input" placeholder="Password...">
              </div>
          </div>
          <div style="width: 100%;margin: auto;display: flex;justify-content: center;padding-top: 12.5px;padding-bottom: 12.5px;">
            <div class="text-input-border">
                <input type="password" id="confirm-password-input" name="confirm-password" class="text-input" placeholder="Confirm Password...">
            </div>
        </div>
       </div>
        <div style="display: flex;padding-top: 25px;padding-bottom: 25px;">
          <div style="position: relative;width: 50%;display: flex;">
            <div class="center-v">
                <input type="checkbox" id="email-me" name="email-me">
               <label class="emailme-label" for="email-me">Email me future relevant courses?</label>
            </div>
          </div>
          <div style="width: 50%;display: flex;">
             <button style="margin-left: auto;" type="submit" id="signup-button" name="signup-button">Sign up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
